.grid-entry {
	border-radius: 3px;
	margin: 1px;
}

.grid-entry .description {
	height: 96%;
	padding: 3px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.grid-entry .description .row {
	display: block;
}

a.link-group {
	font-size: x-small;
	color: rgba(23, 23, 23, 0.71);
	text-decoration: none;
	pointer-events: all;
}

a.link-subject,
a.link-classroom {
	display: inline-block;
	font-size: larger;
	font-weight: 600;
	color: #171717;
	text-decoration: none;
	pointer-events: auto;
}

.entry-type {
	display: inline-block;
	color: #222222;
}

a.link-teacher {
	font-style: italic;
	font-size: small;
}

a.link-teacher {
	text-decoration: none;
	color: black;
}
