.grid-entry {
	border-radius: 3px;
	margin: 2px 0 1px 0;
}

.grid-entry {
	z-index: 2;
	pointer-events: none; /* da lahko pride hover event dol do .grid-complete-row */
}

.overlay-to-select-lecture {
	z-index: 3;
}
.overlay-to-select-lecture > * {
	pointer-events: auto; /* treba ker drugače ne moreš v ezz selectat temp elementa */
}

.grid-entry .description {
	width: 100%;
	height: 96%;
	padding: 3px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.grid-entry .description .row {
	display: block;
}

.description .top-aligned {
	width: 95%;
}

.description .top-aligned .first-row .right-aligned > img {
	pointer-events: auto; /* da lahko kliknemo settings icon */
}

.first-row {
	display: flex !important;
	justify-content: space-between;
}

a.link-group {
	font-size: x-small;
	color: rgba(23, 23, 23, 0.71);
	text-decoration: none;
	pointer-events: all;
}

a.link-subject,
a.link-classroom {
	display: inline-block;
	font-size: larger;
	font-weight: 600;
	color: #171717;
	text-decoration: none;
	pointer-events: auto;
}

a.link-classroom {
	font-weight: 500 !important ;
}

.entry-type {
	display: inline-block;
	color: #222222;
}

a.link-teacher {
	font-style: italic;
	font-size: small;
	text-decoration: none;
	color: black;
}

@media (max-width: 35em) {
	a.link-teacher {
		font-size: 1.2ex;
	}
}

.overlay-to-select-lecture:hover {
	transform: scale(1.028);
	transition: all 0.05s ease-in-out;
}
.overlay-to-select-lecture .grid-entry {
	/* to je zaradi nekega visual buga ki je pri vajah ki niso sovpadale z nobeno drugo
       vajo naredil da je bila višina vaje cca 75%
    */
	height: 98%;
	width: 99%;
}

@media (max-width: 35em) {
	a.link-group {
		display: none;
	}
}
