.header {
	display: flex;
	height: 5rem;
	margin-top: 3%;
	margin-left: 5%;
	margin-right: 0%;
	/*justify-content: space-between;*/

}

.header .title {
	font-size: 17px;
}

.header-middle,
.header-right-side {
	width: 187px;
}
